{% extends 'base.jinja' %}

{% block content %}
<div class="text_size">
<form class="align_form" action="/beer/" method="post">
<label for="beer">Choose a beer to edit:</label>
<select name="beer" id="beer">
    {% for beer in beers%}
<option value="{{beer.id}}">{{beer.name}}</option>
    {% endfor %}
</select>
<input type="submit"/>
</form>
<p>Or create a new beer here:</p>
<form action="/beer/new/" method="post"> 
        {% if not chosen_beer %}
        <p><label>Beer Name</label>  
        <input name="name" type="text"/></p>
        <p><label>Alcohol By Volume</label>
        <input name="abv" type="text"/>
        <p><label>Brewery</label>
        <select name="brewery_id" id="brewery_id"></p>
        {% for brewery in breweries%}
        <option value="{{brewery.id}}">{{brewery.name}}</option>
        {% endfor %}</select>
        <input type="submit" value="Save beer">
        <input type="hidden" name="beer_id">
        {% endif %}        
        
        {% if chosen_beer %}
        <p><label>Beer Name</label>  
            <input name="name" type="text" value="{{chosen_beer.name}}"/></p>
    
        <p><label>Alcohol By Volume</label>
            <input name="abv" type="text" value="{{chosen_beer.abv}}"/>
            
        <p><label>Brewery</label>
            <select name="brewery_id" id="brewery_id">
            {% for brewery in breweries%}
            <option value="{{brewery.id}}"
            {% if brewery.id == chosen_beer.brewery.id %}
            selected
            {% endif %}
            >{{brewery.name}}</option>
            {% endfor %}</select></p>

        <input type="submit" value="Update beer">
        <input type="hidden" name="beer_id" value="{{chosen_beer.id}}">
</form>
<form action="/beer/{{chosen_beer.id}}/delete/" method="post">
<input name="name" type="submit" value="Delete beer">
</form>
{% endif %}
</div>
{% endblock %}