body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 22px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 22px;

}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

ul {
    padding: 0px;
}

.banner {
    margin-left: 15%;
    font-style: italic;
    text-decoration: underline;
    font-size: 72px;
    font-variant: normal;
}

.banner a {
    display:contents;
    color: rgb(255, 0, 0);
    white-space: nowrap;
}

.action-links {
    margin:10px;
    margin-left: 20%;
}


button {
    margin:10px;
    width:320px;
    height: 60px;
    margin-left: 26px;
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
}

.links{
display: flex;
flex-direction: column;
}

.keg_box {
    display: flex;
    padding: 10px;
    border: 15px solid black;
    align-items: flex-start;
    justify-content: flex-start;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#warning {
    width: 30%;
    padding: 10px;

}

#head_photo {
    height: 100px;
    margin-left: 50px;
}

#big_warn {
    height: 120px;
    width: 120px;
    padding-left: 25px;
    font-size: 300%;
}

.align_form {
    display: flex;
    align-content: baseline;
}