body {
    background-color: rgb(238, 211, 9);
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

ul {
    padding: 0px;
}

.banner {
    margin-left: 18%;
    font-style: italic;
    font-size: 72px;
    font-variant: normal;
}

.banner a {
    color:rgb(0, 115, 255)
}

.action-links {
    margin:10px;
    margin-left: 20%;
    padding-left: 16px;
}

button {
    margin:10px;
    width:320px;
    margin-left: 26px;
}

.links{
display: flex;
flex-direction: column;
}

.keg_box {
    display: flex;
    padding: 10px;
    border: 15px solid black;
    align-items: center;
    justify-content: flex-start;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#warning {
    width: 30%;
}

#head_photo {
    height: 100px;
    margin-left: 35px;
}