<html>
<head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
</head>
<body>
<header>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/keg/all">Inventory</a></li>
</ul>
<section class="banner">
<a href="/">Keg Keepr.</a>
</section>
<img id="head_photo" src="{{ url_for('static', filename='beer-kegs.jpg') }}" alt="a photo of some kegs">
</header>

{% block content%}

{%endblock %}
</body>
<footer>
    <div><span>Powered by Flask and coffee.</span></div>
    <div><p>&copy; 2023 Aric Gilinsky. All rights reserved.</p></div>
</footer>

</html>