<html>
<head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
</head>
<body>
<header>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/keg/all">Inventory</a></li>
</ul>
<section class="banner">
<a href="/">Keg Keepr.</a>
</section>
</header>

{% block content%}

{%endblock %}
</body>
<footer>
    <p>&copy; 2023 Aric Gilinsky. All rights reserved.</p>
</footer>

</html>