<head>
<link href="static/styles.css" rel="stylesheet"/>
</head>
<body>
<header>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/keg/all">Inventory</a></li>
</ul>
</header>
</body>
{% block content%}

{%endblock %}