

{% extends 'base.jinja' %}

{% block content %}
<div class="links">
<section class="action-links">
    <a href="/brew/"><button>Click here to Create/Edit breweries.</button></a>
</section>
<section class="action-links">
    <a href="/beer/"><button>Click here to Create/Edit beers.</button></a>
</section>
<section class="action-links">
    <a href="/keg/"><button>Click here to Create/Edit individual kegs.</button></a>
</section>
</div>
{% endblock %}