{% extends 'base.jinja' %}

{% block content %}
<section>
    <a href="/brew/">Click here to Create/Edit breweries.</a>
</section>
<section>
    <a href="/beer/">Click here to Create/Edit beers.</a>
</section>
<section>
    <a href="/keg/">Click here to Create/Edit individual kegs.</a>
</section>
{% endblock %}