{% extends 'base.jinja' %}

{% block content %}
<form action="/keg/" method="post">
<label for="keg">Choose a keg to edit:</label>
<select name="keg" id="keg">
    {% for keg in kegs%}
<option value="{{keg.id}}">{{keg.beer.name, keg.id}}</option>
    {% endfor %}
</select>
<input type="submit"/>
</form>
<p>Or create a new keg here:</p>
{% if not chosen_keg %}
<form action="/keg/new/" method="post">    
        <p><label>Beer</label>  
        <select name="beer_id">
        {% for beer in beers %}
        <option type="text" value="{{beer.id}}">{{beer.name}}</option>
        {% endfor %}
        </select>
        </p>   
        <p><label>Fill Level</label>  
        <input name="fill" type="text" value=""/></p>
        <p><label>Capacity</label>  
        <input name="capacity" type="text" value=""/></p>
        <p><label>Cost</label>  
        <input name="cost" type="text" value=""/></p>
        <p><label>Price</label>  
        <input name="price" type="text" value=""/></p>
        <input type="submit" value="Add new keg">
</form>
{% endif %}

{% if chosen_keg %}
<form action="/keg/new/" method="post">    
    <p><label>Beer</label>  
    <select name="beer_id">
    {% for beer in beers %}
    <option type="text" 
    {%if beer.id == chosen_keg.beer.id %}
    selected
    {% endif }
    value="{{beer.id}}">{{beer.name}}</option>
    {% endfor %}
    </select>
    </p>   
    <p><label>Fill Level</label>  
    <input name="fill" type="text" value=""/></p>
    <p><label>Capacity</label>  
    <input name="capacity" type="text" value=""/></p>
    <p><label>Cost</label>  
    <input name="cost" type="text" value=""/></p>
    <p><label>Price</label>  
    <input name="price" type="text" value=""/></p>
    <input type="submit" value="Update keg">
</form>
<form action="/keg/{{chosen_keg.id}}/delete/" method="post">
<input name="name" type="submit" value="Delete keg">
</form>
{% endif %}


{% endblock %}