{% extends 'base.jinja' %}

{% block content %}
<section class="align_form">
<form class="align_form" action="/keg/" method="post">
<label for="keg">Choose a keg to edit:</label>
<select name="keg" id="keg">
{% for keg in kegs%}
    <option value="{{keg.id}}">{{keg.beer.name, keg.id}}</option>
{% endfor %}
</select>
<input type="submit"/>
</form>
<form class="align_form" action="/keg" method="get">
    <input type="submit" value="Unselect Keg">
</form>
</section>


{% if not chosen_keg %}
<p>Or create a new keg here:</p>
    <form action="/keg/new/" method="post">    
            <p><label>Beer</label>  
            <select name="beer_id">
            {% for beer in beers %}
                <option type="text" value="{{beer.id}}">{{beer.name}}</option>
            {% endfor %}
            </select>
            </p>   
            <p><label>Fill Level</label>  
            <input name="fill" type="text"/></p>
            <p><label>Capacity</label>  
            <input name="capacity" type="text"/></p>
            <p><label>Cost</label>  
            <input name="cost" type="text"/></p>
            <p><label>Price</label>  
            <input name="price" type="text"/></p>
            <input type="hidden" name="keg_id"/>
            <input type="submit" value="Add new keg">
    </form>
{% endif %}

{% if chosen_keg %}
    <form action="/keg/new/" method="post">    
        <p><label>Beer</label>  
        <select name="beer_id">
        {% for beer in beers %}
            <option type="text" 
            {%if beer.id == chosen_keg.beer.id %}
            selected
            {% endif %}
            value="{{beer.id}}">{{beer.name}}</option>
        {% endfor %}
        </select>
        </p>   
        <p><label>Fill Level</label>  
        <input name="fill" type="text" value="{{chosen_keg.fill_level}}"/></p>
        <p><label>Capacity</label>  
        <input name="capacity" type="text" value="{{chosen_keg.capacity}}"/></p>
        <p><label>Cost</label>  
        <input name="cost" type="text" value="{{chosen_keg.cost}}"/></p>
        <p><label>Price</label>  
        <input name="price" type="text" value="{{chosen_keg.price}}"/></p>
        <input type="submit" value="Update keg">
        <input type="hidden" name="keg_id" value="{{chosen_keg.id}}">
    </form>
    <form action="/keg/{{chosen_keg.id}}/delete/" method="post">
        <input name="name" type="submit" value="Delete keg">
    </form>
{% endif %}

{% endblock %}