{% extends 'base.jinja' %}

{% block content %}
{% for keg in kegs %}
<section class="keg_box">
    <div><p>Beer Name: {{keg.beer.name}}, Keg {{keg.id}}</p>
    <p>Current Stock (pints): {{keg.fill_level}}</p>
    <p>Capacity: {{keg.capacity}}</p>
    <p>Purchase cost: £{{keg.cost}}</p>
    <p>Price per pint: £{{keg.price}}</p>
</div>
<div>
{% if keg.fill_level in range(1,5) %} 
<span>The stock level of this beer is low!</span>
{% elif keg.fill_level < 1 %}
<span>This beer is out of stock!</span>
{% endif %}</div>
</section>
{% endfor %}
{% endblock %}