{% extends 'base.jinja' %}

{% block content %}
<div class="text_size">
<div id="grid">
{% for keg in kegs %}

<div class="keg_box">
    <div><p>Beer/Keg: {{keg.beer.name}}, Keg {{keg.id}}</p>
    <p>Current Stock (pints): {{keg.fill_level}}</p>
    <p>Capacity: {{keg.capacity}}</p>
    <p>Purchase cost: £{{keg.cost}}</p>
    <p>Price per pint: £{{keg.price}}</p>
    </div>
<div id="warning">
    {% if keg.fill_level in range(1,6) %} 

    <span id="big_warn">&#x2757;</span><br>
    <span>The stock level of this beer is low!</span>
    {% elif keg.fill_level < 1 %}
    <span id="big_warn">&#x274C;</span><br>
    <span>This beer is out of stock!</span>
    {% elif keg.fill_level > 5 %}
    <span id="big_warn">&#9989;	</span>
    <span>This beer is available.</span>

    {% endif %}
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
